<a href="https://colab.research.google.com/github/EL-Magnific-o/Realtech_housing_prise/blob/main/Realtech_housing_prise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=zinEPDj7SD8

In [1]:
import keras
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [3]:
df.head(20)

    longitude  latitude  ...  median_income  median_house_value
0     -114.31     34.19  ...         1.4936             66900.0
1     -114.47     34.40  ...         1.8200             80100.0
2     -114.56     33.69  ...         1.6509             85700.0
3     -114.57     33.64  ...         3.1917             73400.0
4     -114.57     33.57  ...         1.9250             65500.0
5     -114.58     33.63  ...         3.3438             74000.0
6     -114.58     33.61  ...         2.6768             82400.0
7     -114.59     34.83  ...         1.7083             48500.0
8     -114.59     33.61  ...         2.1782             58400.0
9     -114.60     34.83  ...         2.1908             48100.0
10    -114.60     33.62  ...         2.6797             86500.0
11    -114.60     33.60  ...         1.6250             62000.0
12    -114.61     34.84  ...         2.1571             48600.0
13    -114.61     34.83  ...         3.2120             70400.0
14    -114.63     32.76  ...         0.8585             45000.0
15    -114.65     34.89  ...         1.6991             69100.0
16    -114.65     33.60  ...         2.9653             94900.0
17    -114.65     32.79  ...         0.8571             25000.0
18    -114.66     32.74  ...         1.2049             44000.0
19    -114.67     33.92  ...         1.2656             27500.0

[20 rows x 9 columns]

In [4]:
X = df.drop(columns=['median_house_value'])

In [5]:
Y =df[['median_house_value']]
Y

       median_house_value
0                 66900.0
1                 80100.0
2                 85700.0
3                 73400.0
4                 65500.0
...                   ...
16995            111400.0
16996             79000.0
16997            103600.0
16998             85800.0
16999             94600.0

[17000 rows x 1 columns]

In [6]:
model = keras.Sequential()
model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam',loss='mean_squared_error')

In [13]:
model.fit(X,Y,epochs=100)

Epoch 1/100
532/532 [==============================] - 1s 1ms/step - loss: 10203449344.0000
Epoch 2/100
532/532 [==============================] - 1s 1ms/step - loss: 10148579328.0000
Epoch 3/100
532/532 [==============================] - 1s 1ms/step - loss: 10084671488.0000
Epoch 4/100
532/532 [==============================] - 1s 1ms/step - loss: 10013920256.0000
Epoch 5/100
532/532 [==============================] - 1s 1ms/step - loss: 9949752320.0000
Epoch 6/100
532/532 [==============================] - 1s 1ms/step - loss: 9886974976.0000
Epoch 7/100
532/532 [==============================] - 1s 1ms/step - loss: 9824577536.0000
Epoch 8/100
532/532 [==============================] - 1s 1ms/step - loss: 9760313344.0000
Epoch 9/100
532/532 [==============================] - 1s 1ms/step - loss: 9694357504.0000
Epoch 10/100
532/532 [==============================] - 1s 1ms/step - loss: 9623033856.0000
Epoch 11/100
532/532 [==============================] - 1s 1ms/step - loss: 9556805632.0000
Epoch 12/100
532/532 [==============================] - 1s 1ms/step - loss: 9487973376.0000
Epoch 13/100
532/532 [==============================] - 1s 1ms/step - loss: 9418910720.0000
Epoch 14/100
532/532 [==============================] - 1s 1ms/step - loss: 9359813632.0000
Epoch 15/100
532/532 [==============================] - 1s 1ms/step - loss: 9291062272.0000
Epoch 16/100
532/532 [==============================] - 1s 1ms/step - loss: 9225330688.0000
Epoch 17/100
532/532 [==============================] - 1s 1ms/step - loss: 9154861056.0000
Epoch 18/100
532/532 [==============================] - 1s 1ms/step - loss: 9086769152.0000
Epoch 19/100
532/532 [==============================] - 1s 1ms/step - loss: 9022944256.0000
Epoch 20/100
532/532 [==============================] - 1s 1ms/step - loss: 8949681152.0000
Epoch 21/100
532/532 [==============================] - 1s 1ms/step - loss: 8889623552.0000
Epoch 22/100
532/532 [==============================] - 1s 1ms/step - loss: 8813901824.0000
Epoch 23/100
532/532 [==============================] - 1s 1ms/step - loss: 8749189120.0000
Epoch 24/100
532/532 [==============================] - 1s 1ms/step - loss: 8685002752.0000
Epoch 25/100
532/532 [==============================] - 1s 1ms/step - loss: 8625455104.0000
Epoch 26/100
532/532 [==============================] - 1s 1ms/step - loss: 8561028608.0000
Epoch 27/100
532/532 [==============================] - 1s 1ms/step - loss: 8495633920.0000
Epoch 28/100
532/532 [==============================] - 1s 1ms/step - loss: 8429209088.0000
Epoch 29/100
532/532 [==============================] - 1s 1ms/step - loss: 8364200960.0000
Epoch 30/100
532/532 [==============================] - 1s 1ms/step - loss: 8302801408.0000
Epoch 31/100
532/532 [==============================] - 1s 1ms/step - loss: 8239283200.0000
Epoch 32/100
532/532 [==============================] - 1s 1ms/step - loss: 8186653696.0000
Epoch 33/100
532/532 [==============================] - 1s 1ms/step - loss: 8124340224.0000
Epoch 34/100
532/532 [==============================] - 1s 1ms/step - loss: 8071904256.0000
Epoch 35/100
532/532 [==============================] - 1s 2ms/step - loss: 8012491264.0000
Epoch 36/100
532/532 [==============================] - 1s 1ms/step - loss: 7956131328.0000
Epoch 37/100
532/532 [==============================] - 1s 1ms/step - loss: 7903590912.0000
Epoch 38/100
532/532 [==============================] - 1s 1ms/step - loss: 7851408384.0000
Epoch 39/100
532/532 [==============================] - 1s 1ms/step - loss: 7794727936.0000
Epoch 40/100
532/532 [==============================] - 1s 1ms/step - loss: 7749168128.0000
Epoch 41/100
532/532 [==============================] - 1s 1ms/step - loss: 7701386752.0000
Epoch 42/100
532/532 [==============================] - 1s 1ms/step - loss: 7653166080.0000
Epoch 43/100
532/532 [==============================] - 1s 1ms/step - loss: 7593671680.0000
Epoch 44/100
532/532 [==============================] - 1s 1ms/step - loss: 7559969280.0000
Epoch 45/100
532/532 [==============================] - 1s 1ms/step - loss: 7511645696.0000
Epoch 46/100
532/532 [==============================] - 1s 1ms/step - loss: 7473824256.0000
Epoch 47/100
532/532 [==============================] - 1s 1ms/step - loss: 7443523584.0000
Epoch 48/100
532/532 [==============================] - 1s 1ms/step - loss: 7392162816.0000
Epoch 49/100
532/532 [==============================] - 1s 1ms/step - loss: 7349762048.0000
Epoch 50/100
532/532 [==============================] - 1s 1ms/step - loss: 7309849088.0000
Epoch 51/100
532/532 [==============================] - 1s 1ms/step - loss: 7267824128.0000
Epoch 52/100
532/532 [==============================] - 1s 1ms/step - loss: 7228215808.0000
Epoch 53/100
532/532 [==============================] - 1s 1ms/step - loss: 7189362688.0000
Epoch 54/100
532/532 [==============================] - 1s 1ms/step - loss: 7148890624.0000
Epoch 55/100
532/532 [==============================] - 1s 1ms/step - loss: 7121729024.0000
Epoch 56/100
532/532 [==============================] - 1s 1ms/step - loss: 7077758976.0000
Epoch 57/100
532/532 [==============================] - 1s 1ms/step - loss: 7041519104.0000
Epoch 58/100
532/532 [==============================] - 1s 1ms/step - loss: 7003566080.0000
Epoch 59/100
532/532 [==============================] - 1s 1ms/step - loss: 6972442624.0000
Epoch 60/100
532/532 [==============================] - 1s 1ms/step - loss: 6942095872.0000
Epoch 61/100
532/532 [==============================] - 1s 1ms/step - loss: 6904755200.0000
Epoch 62/100
532/532 [==============================] - 1s 1ms/step - loss: 6878692352.0000
Epoch 63/100
532/532 [==============================] - 1s 1ms/step - loss: 6842863104.0000
Epoch 64/100
532/532 [==============================] - 1s 1ms/step - loss: 6815924224.0000
Epoch 65/100
532/532 [==============================] - 1s 1ms/step - loss: 6781751808.0000
Epoch 66/100
532/532 [==============================] - 1s 1ms/step - loss: 6757784576.0000
Epoch 67/100
532/532 [==============================] - 1s 1ms/step - loss: 6723896832.0000
Epoch 68/100
532/532 [==============================] - 1s 1ms/step - loss: 6695772160.0000
Epoch 69/100
532/532 [==============================] - 1s 1ms/step - loss: 6665509376.0000
Epoch 70/100
532/532 [==============================] - 1s 1ms/step - loss: 6640892928.0000
Epoch 71/100
532/532 [==============================] - 1s 1ms/step - loss: 6602895872.0000
Epoch 72/100
532/532 [==============================] - 1s 1ms/step - loss: 6573766144.0000
Epoch 73/100
532/532 [==============================] - 1s 1ms/step - loss: 6554355712.0000
Epoch 74/100
532/532 [==============================] - 1s 1ms/step - loss: 6523264512.0000
Epoch 75/100
532/532 [==============================] - 1s 1ms/step - loss: 6487157760.0000
Epoch 76/100
532/532 [==============================] - 1s 1ms/step - loss: 6478443520.0000
Epoch 77/100
532/532 [==============================] - 1s 1ms/step - loss: 6442112000.0000
Epoch 78/100
532/532 [==============================] - 1s 1ms/step - loss: 6407151104.0000
Epoch 79/100
532/532 [==============================] - 1s 1ms/step - loss: 6386251776.0000
Epoch 80/100
532/532 [==============================] - 1s 1ms/step - loss: 6360745472.0000
Epoch 81/100
532/532 [==============================] - 1s 1ms/step - loss: 6337157120.0000
Epoch 82/100
532/532 [==============================] - 1s 1ms/step - loss: 6315000832.0000
Epoch 83/100
532/532 [==============================] - 1s 1ms/step - loss: 6279035392.0000
Epoch 84/100
532/532 [==============================] - 1s 1ms/step - loss: 6269471744.0000
Epoch 85/100
532/532 [==============================] - 1s 1ms/step - loss: 6225680896.0000
Epoch 86/100
532/532 [==============================] - 1s 1ms/step - loss: 6206789120.0000
Epoch 87/100
532/532 [==============================] - 1s 1ms/step - loss: 6184820736.0000
Epoch 88/100
532/532 [==============================] - 1s 1ms/step - loss: 6164591616.0000
Epoch 89/100
532/532 [==============================] - 1s 1ms/step - loss: 6138683904.0000
Epoch 90/100
532/532 [==============================] - 1s 1ms/step - loss: 6125630976.0000
Epoch 91/100
532/532 [==============================] - 1s 1ms/step - loss: 6091175424.0000
Epoch 92/100
532/532 [==============================] - 1s 1ms/step - loss: 6074331136.0000
Epoch 93/100
532/532 [==============================] - 1s 1ms/step - loss: 6041945600.0000
Epoch 94/100
532/532 [==============================] - 1s 1ms/step - loss: 6013849600.0000
Epoch 95/100
532/532 [==============================] - 1s 2ms/step - loss: 5998938624.0000
Epoch 96/100
532/532 [==============================] - 1s 1ms/step - loss: 5964518400.0000
Epoch 97/100
532/532 [==============================] - 1s 1ms/step - loss: 5947245056.0000
Epoch 98/100
532/532 [==============================] - 1s 1ms/step - loss: 5925802496.0000
Epoch 99/100
532/532 [==============================] - 1s 1ms/step - loss: 5903649280.0000
Epoch 100/100
532/532 [==============================] - 1s 1ms/step - loss: 5882647552.0000

In [8]:
#test_data_1_column = np.array([-114.60	,33.62	,16.0	,3741.0	,801.0	,2434.0	,824.0	,2.6797	])  num 10
#print(model.predict(test_data_1_column.reshape(1,8),batch_size=1))

In [14]:
df1 = pd.read_csv('/content/sample_data/california_housing_test.csv')

test_data = df1.drop(columns=['median_house_value'])
real_test_data = df1[['median_house_value']]

real_test_data.head(20)

    median_house_value
0             344700.0
1             176500.0
2             270500.0
3             330000.0
4              81700.0
5              67000.0
6              67000.0
7             166900.0
8             194400.0
9             164200.0
10            125000.0
11             58300.0
12            252600.0
13            231200.0
14            222500.0
15            153100.0
16            181300.0
17            137500.0
18            300000.0
19            414300.0

In [15]:
result=pd.DataFrame(model.predict(test_data,batch_size=1))
result.head(20)

                0
0   310135.187500
1   180240.921875
2   290772.250000
3   266250.781250
4   122714.289062
5   120132.007812
6   137242.453125
7   138364.437500
8   187672.671875
9   135108.015625
10  149022.859375
11  126082.265625
12  227075.921875
13  192281.296875
14  214402.625000
15  169730.921875
16  129776.015625
17  164825.156250
18  329542.000000
19  342790.375000

In [16]:
model.save('Realtech_housing_prise.h5')

In [ ]:
# if you want to load the model use this
#old_model = keras.models.load_model('Realtech_housing_prise.h5')